@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}